@import './styles/inputRadio.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.form-field {
  padding: 14px 20px;
  border-radius: 30px;
  margin: 10px;
  outline: none;
  border: 2px solid #224a86;
  display: block;
  font-size: 17px;
  font-family: Gill Sans, sans-serif;
}

.form-field::placeholder {
  font-size: 17px;
  font-family: Gill Sans, sans-serif;
  font-weight: 600;
  font-variant: normal;
}

.form-errors {
  text-align: center;
}

.errors {
  border-bottom: 2px solid #fb3439;
  color: #224a86;
  margin: 0 30px;
  font-size: 16px;
}

.sendingCommon {
   background: #224a86;
   border: 2px solid #224a86;
   color: #ffffff;
   font-weight: 600;
   cursor: pointer;
   outline: none;
   margin: 15px;
 }

.sending {
  font-size: 17px;
  padding: 14px 20px;
  border-radius: 30px;
}

.setting {
  background: #f3f3f3;
}


.containerCommon {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contentCommon {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.results {
  padding: 0;
}

.results-content {
  margin: 0;
}

.setting-common {
  padding: 10px 20px;
}

.heading {
  font-size: 16px;
  font-weight: 700;
  color: #272727;
  margin: 0 0 13px 0;
}

.heading-flat {
  text-align: center;
  margin: 5px 0;
}

.wrapper-input {
  margin: 10px 0;
}

.wrapper-input label {
  color: #535353;
  font-weight: 600;
  font-size: 14px;
}

.room-items {
  display: flex;
}

.room-items_item {
  background: #dddddd;
  padding: 4px 7px;
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
  color: #535353;
}

.room-items_item:hover {
  background: #172457;
  color: #ffffff;
}

.room-items_checked {
  background: #172457;
  padding: 4px 7px;
  font-size: 13px;
  cursor: pointer;
  color: #ffffff;
  margin: 0 5px;
}

.centimeters {
  padding: 5px;
  background: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #172457;
  margin-right: 5px;
}

.calculateButton {
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 25px;
}

.resultsContainer {
  margin-top: 20px;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.resultsInfo {
  padding: 0 20px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    margin-left: 5px;
    font-size: 17px;
    color: #172457;
    font-weight: bolder;
  }
  .info {
    font-size: 15px;
    color: #535353;
    font-weight: 500;
  }
}

.feeBack-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.form {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setting-list {
  margin-right: 5px;
}

.wrapper-flat {
  padding: 0 15px;
  display: flex;
  width: 365px;


  .ant-input-number-input {
    width: 60px;
    border: 1px solid #0e45b1;
    color: #73808a;
    border-radius: 0;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
    padding: 0;
  }

  .ant-input-number {
    width: 60px;
  }

  .ant-col-12 {
    width: 264px;
    margin-left: 15px;
  }

  .ant-slider-track {
    background-color: #0f45b1;
    border-radius: 25px;
    height: 5px;
  }

  .ant-slider-rail {
    background-color: #ffffff;
  }

  .ant-slider:hover .ant-slider-track {
    background-color: #0f45b1;
    border-radius: 25px;
    height: 5px;
  }

  .ant-slider-handle {
    background-color: #e80b0b;
    border: none;
    &:focus {
      box-shadow: none
    }
  }

  .ant-slider-handle-click-focused {
    background-color: #e80b0b;
    border: none;
  }
}

.flat-input {
  border: 2px solid #172457;
  width: 90px;
  padding: 3px 15px;
  border-radius: 30px;
  outline: none;
  font-size: 17px;
  font-family: Gill Sans, sans-serif;
}

.flat-meter {
  margin-left: 5px;
  font-size: 20px;
}

.flat-container {
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.slider-input {
  width: 290px;
}

.resultsContainer {
  display: flex;
}

.flat-meter {
  border: 1px solid #d7dbdd;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: .4em .6em;
  border-radius: 3px;
}

.wrapper-input {
  .ant-radio-inner::after {
    background-color: #e80b0b;
  }
    .ant-radio-checked::after {
      border: 2px solid #0f45b1;
    }
  .ant-radio-checked .ant-radio-inner {
    border-color: #0f45b1;
  }
  .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: none;
  }
  .ant-radio-wrapper:hover .ant-radio, .ant-radio:hover .ant-radio-inner, .ant-radio-input:focus + .ant-radio-inner {
    border-color: #0f45b1;
  }
}







